<div id="<%= dom_id inscription %>">
  <p>
    <strong>User:</strong>
    <%= inscription.user_id %>
  </p>

  <p>
    <strong>Course:</strong>
    <%= inscription.course_id %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= inscription.payment %>
  </p>

  <p>
    <strong>Paid:</strong>
    <%= inscription.paid %>
  </p>

  <p>
    <strong>Removed:</strong>
    <%= inscription.removed %>
  </p>

</div>
