<div id="<%= dom_id course %>">
  <p>
    <strong>Name:</strong>
    <%= course.name %>
  </p>

  <p>
    <strong>Image url:</strong>
    <%= course.image_url %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= course.description %>
  </p>

  <p>
    <strong>Web link:</strong>
    <%= course.web_link %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= course.price %>
  </p>

  <p>
    <strong>Duration:</strong>
    <%= course.duration %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= course.start_date %>
  </p>

  <p>
    <strong>Removed:</strong>
    <%= course.removed %>
  </p>

  <p>
    <strong>Teacher:</strong>
    <%= course.teacher_id %>
  </p>

</div>
