<!DOCTYPE html>
<html>
  <head>
    <title>MyNewRailsApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
  <% if user_signed_in? %> 
  <div >
    <p>Welcome <%= current_user.email %>     </p>
    <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
  </div> 
  
<% end %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
